.nav {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
	padding: 8px 0;
}

.nav p {
	display: inline-block;
	position: relative;
	padding: 0 10px;
	margin: 0 5px;
	font-size: 12px;
	letter-spacing: 2px;
	cursor: pointer;
	color: rgba(0,0,0,0.6);
}

.nav p:after {
	content: '';
	position: absolute;
	bottom: -10px;
	height: 2px;
	width: 80%;
	transform: translateX(-50%);
	left: 50%;
	background: rgba(0,0,0,0.4);
	border-radius: 0 0 3px 3px;
	transition: 200ms cubic-bezier(.75,-0.5,0,1.75);
	opacity: 0;
}

.nav p.active:after {
	bottom: -2px;
	opacity: 1;
}

@media (hover) {
	.nav p:hover:after {
		bottom: -3px;
		opacity: 1;
	}
}